## data structure
- 1-tuple
- 2-list
- 3-dictionary
- 4-set

## tuples
- orderd collection of elements
- different kind of element can be stored
- enclosed in ()
- once element stored you cannot change it

In [26]:
tup1=(1,"tayyab", True)
tup1=tup1+tup1
tup1

(1, 'tayyab', True, 1, 'tayyab', True)

In [30]:
tup1[3]

1

In [35]:
tup2=(4,"zahid",False)
len(tup2)

3

## List
- ordered collection of elements
- enclosed in sequare bractes []
- mutatable we can change the value

In [65]:
list1=[1,"hamza","khalid",35]
list2=[2,tup2[1],"farhan",33]
type(list1)
list1+list2

[1, 'hamza', 'khalid', 35, 2, 'zahid', 'farhan', 33]

In [66]:
list1

[1, 'hamza', 'khalid', 35]

In [67]:
list1.append(45)
list1

[1, 'hamza', 'khalid', 35, 45]

## dictionary
- an unorderd collection
- key and values
- curely brackets
- mutatable changeable

In [70]:
dic={"t":"tayyab",5:55,}
dic.keys()

dict_keys(['t', 5])

In [71]:
dic["h"]="hamza"
dic

{'t': 'tayyab', 5: 55, 'h': 'hamza'}

In [74]:
dic.update({"g":"gujjar"})
dic

{'t': 'tayyab', 5: 55, 'h': 'hamza', 'g': 'gujjar'}

## set
- unordered and unindexed
-  curly brackets
- no duplicate

In [76]:
s1={1,2,3,4,"ali","lahore"}
s1

{1, 2, 3, 4, 'ali', 'lahore'}

In [78]:
s1.add("ali1")
s1

{1, 2, 3, 4, 'ali', 'ali1', 'lahore'}